[bumpversion]
current_version = 2026.07.1
commit = False
tag = False

[bumpversion:file:pyproject.toml]

[bumpversion:file:docs/conf.py]

[bumpversion:file:software/firmware/pru0-module-py/pyproject.toml]

[bumpversion:file:software/kernel-module/src/module_base.c]

[bumpversion:file:software/python-package/pyproject.toml]

[bumpversion:file:software/shepherd-herd/pyproject.toml]

[bumpversion:file:software/shepherd-calibration/pyproject.toml]

[bumpversion:file:software/pps-gmtimer/src/pps-gmtimer.c]

[bumpversion:file:software/debug_analyze_time_sync/pyproject.toml]

[bumpversion:file:README.md]
