[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
twine = "*"
bump2version = "*"
pre-commit = "*"
build = "*"
coverage = "*"
pyright = "*"
pandas-stubs = "*"  # for pyright

[packages]
# NOTE: pip fails installing these packages as editable (-e), but pipenv needs it
shepherd = {editable = true, extras = ["dev", "test"], path = "./software/python-package"}
shepherd-herd = {editable = true, extras = ["dev", "test"], path = "./software/shepherd-herd"}
shepherd-cal = {editable = true, extras = ["dev"], path = "./software/shepherd-calibration"}
sphinx = "*"
sphinx-click = "*"
sphinx-rtd-theme = "*"
sphinx-sitemap = "*"
matplotlib = "*"
pandas = "<2.0.0"
keithley2600 = "*"
numpy = "*"
scipy = "*"
fabric = "*"
pyyaml = "*"
ansible = "*"
dearpygui = "*"
chromalog = "*"
setuptools = "*"

[pipenv]
allow_prereleases = false
#[requires]
#python_version = "3"
