[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
twine = "*"
bump2version = "*"
pre-commit = "*"

[packages]
shepherd = {path = "./software/python-package"}
shepherd-herd = {path = "./software/shepherd-herd"}
sphinx = "*"
sphinx-click = "*"
sphinx-rtd-theme = "*"
matplotlib = "*"
pandas = "*"
keithley2600 = "*"
numpy = "*"
scipy = "*"
fabric = "*"
pyyaml = "*"
ansible = "*"
dearpygui = "*"
#schemdraw = "*"

[pipenv]
allow_prereleases = false

[requires]
python_version = "3"
