[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
twine = "*"
bump2version = "*"
pre-commit = "*"
build = "*"

[packages]
# NOTE: pip does not install these packages with as editable (-e), but pipenv does
shepherd = {editable = true, path = "./software/python-package[test]"}
shepherd-herd = {editable = true, path = "./software/shepherd-herd"}
shepherd-cal = {editable = true, path = "./software/shepherd-calibration"}
sphinx = "*"
sphinx-click = "*"
sphinx-rtd-theme = "*"
matplotlib = "*"
pandas = "*"
keithley2600 = "*"
numpy = "*"
scipy = "*"
fabric = "*"
pyyaml = "*"
ansible = "*"
dearpygui = "*"
#schemdraw = "*"
coverage = "*"

[pipenv]
allow_prereleases = false

[requires]
python_version = "3"
