# Config for
# - Beaglebone with ShepherdCape v2.3, 2.4, 2.5
# - nRF on prog 1 (change GPIO for prog 2 / currently not needed)

bindto 0.0.0.0

adapter driver linuxgpiod

adapter gpio swdio -chip 0 4
adapter gpio swclk -chip 0 5
adapter gpio swdio_dir -chip 0 10 -active-high
#adapter gpio srst -chip 0 11 -active-high

reset_config none
# trst_only
# srst_only srst_push_pull

# Select SWD transport
transport select swd

# Small delay so the level-shifter has time to stabilize after reset
adapter srst delay 200
adapter srst pulse_width 200

# safe initial clock speed (in kHz)
adapter speed 10

# Load the specific target configuration for nRF52
source [find target/nrf52.cfg]

proc mass_erase {} {
    init;
    reset halt;
    nrf5 mass_erase;
    exit;
}

proc chip_erase {} {
    init;
    reset halt;
    nrf52_recover;
    exit;
}

proc prog {_firmware} {
    program $_firmware verify reset;
    exit;
}
