[Unit]
Description=shepherd launcher

[Service]
Type=simple
ExecStart=/usr/local/bin/shepherd-launcher
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
