---

- name: Make sure TI software path exists
  ansible.builtin.file:
    path: "{{ ti_pru_cgt_path }}"
    state: directory
    mode: '0644'
  become: true
  tags:
    - pru-tools

- name: Download PRU Code Generation tools installer
  ansible.builtin.get_url:
    url: "{{ ti_pru_cgt_installer }}"
    dest: "/tmp/"
    timeout: 120
    mode: a+x
  register: dl_cgt_ret
  become: true
  retries: 3
  until: dl_cgt_ret is not failed
  tags:
    - pru-tools

- name: Install PRU Code Generation tools
  ansible.builtin.command: "{{ dl_cgt_ret.dest }}"
  become: true
  register: inst_cgt_ret
  retries: 3 # TODO: experimental, this step failed recently on 2/4 nodes
  until: inst_cgt_ret is not failed
  changed_when: true
  tags:
    - pru-tools

- name: Clone PRU software support package (Ti PSSP)
  ansible.builtin.git:
    repo: 'https://git.ti.com/git/pru-software-support-package/pru-software-support-package.git'
    dest: "{{ ti_pru_support_path }}"
    update: true
    version: "{{ ti_pru_support_tag }}"
    force: true
  become: true
  register: dl_pssp_ret
  until: dl_pssp_ret is not failed
  retries: 3
  tags:
    - pru-tools

- name: Prepare path to link binaries
  ansible.builtin.file:
    path: '{{ ti_pru_cgt_path }}/bin'
    state: directory
    recurse: true
  become: true
  tags:
    - pru-tools

- name: Symlink PRU compiler and linker
  ansible.builtin.file:
    src: '{{ item.src }}'
    dest: '{{ item.dest }}'
    state: link
  loop:
    - { src: /usr/bin/clpru, dest: '{{ ti_pru_cgt_path }}/bin/clpru' }
    - { src: /usr/bin/lnkpru, dest: '{{ ti_pru_support_path }}/bin/lnkpru' }
  become: true
  tags:
    - pru-tools

- name: Adding PRU environment vars in bashrc file
  ansible.builtin.lineinfile:
    dest: '{{ item[1] }}/.bashrc'
    line: 'export {{ item[0]["name"] }}={{ item[0]["path"] }}'
    insertafter: 'EOF'
    state: present
  with_nested:
    - [
      { name: PRU_CGT, path: "{{ ti_pru_cgt_path }}" },
      { name: PRU_CGT_SUPPORT, path: "{{ ti_pru_support_path }}" }
    ]
    - ['/home/{{ ansible_user }}', '/root']
  become: true
  tags:
    - pru-tools
