[Unit]
Description=Harvest/Emulation with SHEPHERD

[Service]
ExecStart=/usr/local/bin/shepherd-sheep -v run /etc/shepherd/config.yaml
Restart=no

# NOTE: verbose (-v) exec is wanted -> good for eventual debugging
# systemctl status shepherd
# journalctl --follow -u shepherd.service
