[Unit]
Description=Synchronize system clock or PTP hardware clock (PHC)
Documentation=man:phc2sys
# Requires=ptp4l@%i.device.service
# After=ptp4l@%i.device.service
# -> restarts phc2sys constantly ... just use the wait-option
Before=time-sync.target

[Service]
Type=simple
# ExecStart=/usr/sbin/phc2sys -w -s %I
ExecStart=-/usr/sbin/phc2sys -rr -w -s %I
# -q	do not print messages to syslog
# -m 	print msgs to stdout
# -a 	autoconfig
# -rr 	sync realtime clock and also consider it as a time source
# -w    wait for ptp4l
# -s    main clock
RestartSec=3
Restart=on-failure
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
