[Unit]
Description=Precision Time Protocol (PTP) service for %I
Documentation=man:ptp4l
After=sys-subsystem-net-devices-%i.device
# -> wanted: this service waits for network-connectivity

[Service]
Type=idle
ExecStartPre=/usr/sbin/ntpdate -b -s -u pool.ntp.org
# ExecStart=/usr/sbin/ptp4l -f /etc/linuxptp/ptp4l.conf -i %I
ExecStart=/usr/sbin/ptp4l -A -H -f /etc/linuxptp/ptp4l.conf -i %I
# -2 -> IEEE 802.3 Network Transport, TODO: seems to produce "sheep03 ptp4l[4062]: [2837.436] port 1: bad message"
# -A -> Auto Delay Mechanism (E2E first, then maybe P2P)
# -H -> use hardware timestamping
# /etc/linuxptp/ptp4l.conf
# slaveOnly     0/1     -> roles should be static
# clock_servo   linreg/pi -> linreg should be superior


RestartSec=5
Restart=always
StartLimitBurst=10

# improve responsiveness with RT
RestrictRealtime=false
LimitRTPRIO=infinity
CPUSchedulingPriority=99
CPUSchedulingPolicy=rr
IOSchedulingClass=realtime
IOSchedulingPriority=3

[Install]
WantedBy=multi-user.target

# check with
# sudo systemctl status ptp4l@eth0.service
