-e ./software/python-package
-e ./software/shepherd-herd
alabaster
asn1crypto
Babel
bcrypt
certifi
cffi
chardet
Click
configobj
cryptography
docutils
fabric
future
gevent
greenlet
h5py
idna
imagesize
invoke
Jinja2
MarkupSafe
msgpack
myst-parser
numpy
packaging
paramiko
pbr
pycparser
pydantic>2.0.0
Pygments
PyNaCl
pyparsing
python-periphery<2.0.0
pytz
PyYAML>=6.0.0
pyzmq
requests
scipy
six
snowballstemmer
# below directly needed for sphinx
Sphinx
sphinx-click
sphinx-copybutton
sphinx-design
sphinx-rtd-theme
sphinx-sitemap
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-typer
urllib3
zerorpc
