-e ./software/python-package
-e ./software/shepherd-herd
alabaster
asn1crypto
Babel
bcrypt
certifi
cffi
chardet
Click
configobj
cryptography
docutils
fabric
future
gevent
greenlet
h5py
idna
imagesize
invoke
Jinja2
MarkupSafe
msgpack
numpy
packaging
paramiko
pbr
pycparser
Pygments
PyNaCl
pyparsing
python-periphery<2.0.0
pytz
PyYAML>=6.0.0
pyzmq
requests
scipy
six
snowballstemmer
urllib3
zerorpc
pydantic>2.0.0
# below directly needed for sphinx
Sphinx
sphinx-click
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinx-sitemap
sphinx-design
sphinx-copybutton
myst-parser
